<!DOCTYPE html>
<html lang="en">
	<head>
		{{>headerlinks}}
	</head>

<body>
	<!--Navbar-->
	{{>navbar}}

	<!--Main header-->
	<div class="container-fluid main_header">
		<div class="row">
			<div class="col-md-10 col-12 mx-auto">
				<div class="row">
					<!--Left Side main-->
					<div class="col-md-12 col-12 main_header_left align-items-center">
						<figure class="errimg">
							<img src="Images/error.png" alt="pg" class="img-fluid" title="pg">
						</figure>
						<p>Welcome to Technical World</p>
						<h1>{{errorMSG}}</h1>
						<a href="/"><button>Go Back</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Footer Code-->
	{{>footer}}
</body>

</html>