<!DOCTYPE html>
<html lang="en">
	<head>
		{{>headerlinks}}
	</head>

<body>
	<!--Navbar-->
	{{>navbar}}

	<!--Main header-->
	<div class="container-fluid main_header">
		<div class="row">
			<div class="col-md-10 col-12 mx-auto">
				<div class="row">
					<!--right Side main-->
					<div class="col-md-5 col-12 main_header_right align-items-center">
						<figure>
							<img src="Images/pg.jpg" alt="pg" class="img-fluid" title="pg">
						</figure>
					</div>
					<!--leftt Side main-->
					<div class="col-md-6 col-12 main_header_left">
						<h1>I am a<span>Front-end</span>Developer and love to travel</h1>
						<a href="/about"><button>About Me</button></a>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Footer Code-->
	{{>footer}}
</body>

</html>